﻿@model DotNet_E_Commerce_Glasses_Web.Models.Bill
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = ViewBag.Consumer != null ? "~/Views/Shared/_LayoutConsumer.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

<h3>Giỏ hàng</h3>
<div class="container">
    <div class="row h-75">
        <div class="col-sm-9">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Hình Ảnh</th>
                        <th scope="col"></th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Thành tiền</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (IEnumerable<DotNet_E_Commerce_Glasses_Web.Models.ProductSaleModel>)ViewBag.ListCart)
                    {
                        <tr>
                            <td style="max-width: 180px;">
                                <img src="@item.Image" alt="Image Description" style="width: 120px;" />
                            </td>
                            <td>
                                <h5 style="width:300px;height:90px;">@item.NameProduct</h5>
                                <h7>@item.Price/1 chiếc</h7>
                            </td>
                            <td>
                                <div class="row">
                                    <button type="button" class="btn btn-outline-secondary d-flex justify-content-center align-items-center rounded-circle" style="max-width: 30px;" onclick="updateListCart(`@item.IdProduct`, `-1`)">
                                        <i class="fa-solid fa-minus"></i>
                                    </button>
                                    <input type="number" class="col rounded text-center" style="max-width: 100px;" value="@item.QuanitySale" disabled>
                                    <button type="button" class="btn btn-outline-secondary d-flex justify-content-center align-items-center rounded-circle" style="max-width: 30px;" onclick="updateListCart(`@item.IdProduct`, `1`)">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </div>
                            </td>
                            <td>
                                <p>@item.getTotalProduct()</p>
                            </td>
                            <td>
                                <button type="button" class="btn btn-outline-danger d-flex justify-content-center align-items-center rounded-circle" style="max-width: 30px;" onclick="deleteProduct(`@item.IdProduct`)">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <strong class="col">
                    Mã giảm giá
                </strong>
                <div class="col">
                    <input type="text" name="GiamGia" class="rounded" id="input-code">
                    <span id="notify_GiamGia"></span>
                    <button type="button" class="btn btn-outline-secondary rounded-pill" onclick="appDiscount()">
                        Áp dụng
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="d-flex flex-column justify-content-between align-items-center rounded" style="background-color: white">
                <h3>Thanh toán</h3>
                <div class="container">
                    <div class="row">
                        <div class="col fw-bold">
                            Tổng hóa đơn:
                        </div>
                        <div class="col">
                            @Model.currencyTotalBill()
                        </div>
                    </div>
                    <div class="row">
                        <div class="col fw-bold">
                            Giảm giá:
                        </div>
                        <div class="col">
                            @((Model.Discount != null ? Model.Discount.PercentValue : 0) + " %")
                        </div>
                    </div>

                    <div class="row">
                        <div class="col fw-bold">
                            Số sản phẩm:
                        </div>
                        <div class="col">
                            @ViewBag.ListCart.Count
                        </div>
                    </div>
                    <div class="table-group-divider"></div>
                    <div class="row mt-4">
                        <div class="col fw-bold">
                            Thanh toán:
                        </div>
                        <div class="col fw-bold">
                            @Model.currencyTotalPay()
                        </div>
                    </div>
                </div>
                <div style="margin-top:20px ; margin-bottom:30px;">
                    <button type="button" class="btn btn-outline-secondary rounded-pill" onclick="actionCancelBill()">Hủy</button>
                    <button type="button" class="btn btn-danger rounded-pill" onclick="actionPayBill()">Thanh toán</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts  {
    <script src="~/Assets/scripts/ForConsumer/ConsumerCart.js"></script>
}