﻿@using PagedList;
@using PagedList.Mvc;
@{
    @model PagedList.IPagedList<DotNet_E_Commerce_Glasses_Web.Models.Product>
    ViewBag.Title = "Sản phẩm";
    Layout = ViewBag.Consumer != null ? "~/Views/Shared/_LayoutConsumer.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

@{
    ICollection<DotNet_E_Commerce_Glasses_Web.Models.TypeProduct> loai = ViewBag.TypeProduct;
}
<div class="consumer_header_product"    style="background-image: url('/Assets/images/img/bg-banner-about-us.jpeg');"">
    <div class="consumer_header_img_text">
        <div class="consumer_header_img_heading">LỜI CẢM ƠN</div>
        <div class="consumer_header_img_content">
            <a href="" class="consumer_header_img_1">Trang chủ</a>
            <div class="consumer_header_img_node"></div>
            <div class="consumer_header_img_1">Danh sách sản phẩm</div>
        </div>
    </div>
</div>
<div class="consumer_product_container">
    <div class="grid wide">
        <div class="consumer_product_content">
            <div class="col l-2-4">
                <nav class="consumer_product_category">
                    <h3 class="consumer_product_category-heading">
                        <i class="fa-solid fa-list fa-list-icon"></i>
                        Danh mục các loại kính
                    </h3>
                    <ul class="consumer_product_category-list">
                        <li class="consumer_product_category-items">
                            <a href="@Url.Action("Index", "ConsumerProduct", new { typeProductID = "", page = 1 })" class="consumer_product_category-items-link">Tất cả </a>
                            <i class="fa-solid fa-arrow-right"></i>
                        </li>
                        @{
                            int i;
                            for (i = 0; i < loai.Count; i++)
                            {
                                var item = loai.ElementAt(i);
                                <li class="consumer_product_category-items">
                                    <a href="@Url.Action("Index", "ConsumerProduct", new { typeProductID = item.IdTypeProduct, page = 1 })" class="consumer_product_category-items-link">@item.TypeProductName</a>
                                    <i class="fa-solid fa-arrow-right"></i>
                                </li>
                            }
                        }
                    </ul>
                </nav>
            </div>
            @*Todo:lọc và sắp xếp*@
            <div class="col l-10-4">
                <div class="home-filter hide-on-mobile-tablet">
                    <span class="home-filter_label">sắp xếp theo</span>
                    <button class="btn home-filter_btn"> Phổ biến</button>
                    <button class="btn btn-primary_home-filter home-filter_btn"> Mới nhất</button>
                    <button class="btn home-filter_btn"> Bán chạy</button>

                    <div class="select-input">
                        <span class="select-input-label">Giá</span>
                        <i class="fa-solid fa-chevron-down"></i>
                        <ul class="select-input-list">
                            <li class="select-input-items">
                                <a href="" class="select-input-link">Giá: Thấp đến cao</a>
                            </li>
                            <li class="select-input-items">
                                <a href="" class="select-input-link">Giá: Cao đến thấp</a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="home-product">
                    <div class="row sm-gutter">
                        @foreach (var item in Model)
                        {
                            if (item.TypeProductSale.StatusProduct.Equals("Bán hàng"))
                            {
                                <div class="col l-3">
                                    <div class="best_seller_product-card" data-item-id="@item.IdProduct">
                                        <div class="best_seller_product-image">
                                            <img src="@item.Image" alt="Gọng kính">
                                        </div>
                                        <div class="best_seller_product-details">
                                            <div class="best_seller_product-name">@item.NameProduct</div>
                                            <div class="best_seller_product-pricing">
                                                <div class="best_seller_product-discount">
                                                    Tiết kiệm được <span class="best_seller_product-discount-price">150.000đ</span>
                                                </div>
                                                <div class="best_seller_product-original-price">@item.Price</div>
                                            </div>
                                            <button class="best_seller_product-buy-btn">
                                                <div class="best_seller_product-price">@item.CurrencyString()</div>
                                                <i class="fas fa-chevron-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                @*Paging*@
                @*Sử dụng kĩ thuật phân trang để hiển thị danh sách sản phẩm*@
                <ul class="pagination home-product-pagination">
                    @if (ViewBag.Page > 1)
                    {
                        <li class="pagination-items">
                            <a href="@Url.Action("Index", "ConsumerProduct", new { typeProductID = ViewBag.TypeProductID, page = (ViewBag.Page - 1), search = ViewBag.Search })" class="pagination-items-link">
                                <i class="pagination-items-icon fa-solid fa-chevron-left"></i>
                            </a>
                        </li>
                    }

                    @{
                        int startPage = Math.Max(1, ViewBag.Page - 2);
                        int endPage = Math.Min(Model.PageCount, ViewBag.Page + 2);

                        for (int pageIndex = startPage; pageIndex <= endPage; pageIndex++)
                        {
                            if (pageIndex.Equals(ViewBag.Page))
                            {
                                <li class="pagination-items">
                                    <a class="pagination-items-link pagination-items-active">@pageIndex</a>
                                </li>
                            }
                            else
                            {
                                <li class="pagination-items">
                                    <a href="@Url.Action("Index", "ConsumerProduct", new { typeProductID = ViewBag.TypeProductID, page = pageIndex, search = ViewBag.Search })" class="pagination-items-link">@pageIndex</a>
                                </li>
                            }
                        }

                        if (ViewBag.Page < Model.PageCount - 3)
                        {
                            <li class="pagination-items">
                                <span class="pagination-items-link">...</span>
                            </li>
                        }

                        if (ViewBag.Page < Model.PageCount - 2)
                        {
                            <li class="pagination-items">
                                <a href="@Url.Action("Index", "ConsumerProduct", new { typeProductID = ViewBag.TypeProductID, page = Model.PageCount, search = ViewBag.Search })" class="pagination-items-link">@Model.PageCount</a>
                            </li>
                        }
                    }

                    @if (ViewBag.Page < Model.PageCount)
                    {
                        <li class="pagination-items">
                            <a href="@Url.Action("Index", "ConsumerProduct", new { typeProductID = ViewBag.TypeProductID, page = (ViewBag.Page + 1), search = ViewBag.Search })" class="pagination-items-link">
                                <i class="pagination-items-icon fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                    }
                </ul>

            </div>

        </div>
    </div>
</div>
<div class="grid wide">
    <div class="body_best_seller_product">
        <div class="seller_product_title">SẢN PHẨM NỔI BẬT</div>
        <div class="seller_product_list">
            @foreach (var item in Model)
            {
                if (item.TypeProductSale.StatusProduct.Equals("Bán hàng"))
                {
                    <div class="col l-3">
                        <div class="best_seller_product-card" data-item-id="@item.IdProduct">
                            <div class="best_seller_product-image">
                                <img src="@item.Image" alt="Gọng kính">
                            </div>
                            <div class="best_seller_product-details">
                                <div class="best_seller_product-name">@item.NameProduct</div>
                                <div class="best_seller_product-pricing">
                                    <div class="best_seller_product-discount">
                                        Tiết kiệm được <span class="best_seller_product-discount-price">150.000đ</span>
                                    </div>
                                    <div class="best_seller_product-original-price">@item.Price</div>
                                </div>
                                <button class="best_seller_product-buy-btn">
                                    <div class="best_seller_product-price">@item.CurrencyString()</div>
                                    <i class="fas fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>





@section Scripts  {
    <script src="~/Assets/scripts/ConsumerProduct.js"></script>
}