@model IEnumerable<DotNet_E_Commerce_Glasses_Web.Models.Consumer>

@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = Model != null ? "~/Views/Shared/_LayoutManager.cshtml" : "~/Views/Shared/_Layout.cshtml";
}

<div class="bill_header_texxt">Danh sách khách hàng</div>
<div class="bill_table">
    <div class="bill_table_header">
        <div class="row">
            <div class="col-md-4 bill_table_title">Tên khách hàng</div>
            <div class="col-md-3 bill_table_title">Địa chỉ</div>
            <div class="col-md-2 bill_table_title">Số điện thoại</div>
            <div class="col-md-2 bill_table_title">Ngày sinh nhật</div>
            <div class="col-md-1 bill_table_title">Giỏ hàng</div>
        </div>
    </div>
    <div class="bill_table_content">
        @foreach (var item in Model)
        {
            <div class="row consumer_table_content_row">
                <div class="col-md-4 bill_table_content_consumer">
                    <img class="table_consumer_img" src="@item.Image" alt="">
                    <div class="table_consumer_name">@Html.DisplayFor(modelItem => item.Username)</div>
                </div>
                <div class="col-md-3 consumer_table_content_item">@Html.DisplayFor(modelItem => item.Address)</div>
                <div class="col-md-2 consumer_table_content_item">@Html.DisplayFor(modelItem => item.NumberPhone)</div>
                <div class="col-md-2 consumer_table_content_item">@item.GetDateOfBirthAsString()</div>
                <div class="col-md-1 consumer_table_content_item">@Html.DisplayFor(modelItem => item.ListCart)</div>
            </div>
        }
        </div>
</div>

