@model IEnumerable<DotNet_E_Commerce_Glasses_Web.Models.Bill>

@{
    ViewBag.Title = "Danh sách hóa đơn";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<h2>Danh sách hóa đơn</h2>

<div class="container-xxl">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfPurchase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalBill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumer.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusDelivery.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p>@item.datePurchaseStr()</p>
                </td>
                <td>
                    <p>@item.currencyTotalBill()</p>
                </td>
                <td>
                    <p>@item.valuePercent()</p>
                </td>
                <td>
                    <p>@item.currencyTotalPay()</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consumer.Username)
                </td>
                <th>
                    @Html.DisplayNameFor(model => model.StatusDelivery.Status)
                </th>
                <td>
                    <button class="btn btn-outline-secondary" onclick="actionDialogDetailBill(`@item.IdBild`)">Chi tiết</button>
                </td>
            </tr>
        }
    </table>
</div>


<div class="modal" id="dialog_detail_bill">
</div>

@section Scripts  {
    <script src="~/Assets/scripts/ManagerBill.js"></script>
}