@model DotNet_E_Commerce_Glasses_Web.Models.Product

@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";

}

@using (Html.BeginForm("CreateProduct", "ManagerProduct", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="Create_Product">
        <div class="Create_Product_head">Thêm sản phẩm mới</div>
        <div class="Create_Product_body">
            <div class="Create_Product_body_head">Thông tin cơ bản</div>
            <div class="Product_content">
                <div class="row">
                    <div class="col-md-3 Product_text">
                        <div class="Product_name">Hình ảnh sản phẩm</div>
                    </div>
                    <div class="col-md-5 Product_input">
                        <input type="file" id="file-upload" name="ImageFile" accept="image/*" class="file-input" />
                        <label for="file-upload" class="upload-label">
                            <div id="upload-placeholder" class="upload-icon">
                                <span>+</span>
                                <span>Thêm hình ảnh</span>
                            </div>
                            <img id="image-preview" src="#" alt="Image Preview" style="display: none;" />
                        </label>
                        @Html.ValidationMessage("ImageFile", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-3 Product_text">
                        <div class="Product_name">Tên Sản phẩm</div>
                    </div>
                    <div class="col-md-5 Product_input">
                        @Html.EditorFor(model => model.NameProduct, new { htmlAttributes = new { @class = "Product-name-input", placeholder = "Nhập Tên Sản Phẩm" } })
                        @Html.ValidationMessageFor(model => model.NameProduct, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-3 Product_text">
                        <div class="Product_name">Mô tả sản phẩm</div>
                    </div>
                    <div class="col-md-5 Product_input">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "Product-name-input_descripsion Product-name-input", placeholder = "Mô Tả chi tiết sản phẩm" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>

        <div class="Create_Product_body">
            <div class="Create_Product_body_head">Thông tin bán hàng</div>
            <div class="Product_content">
                <div class="row">
                    <div class="col-md-3 Product_text">
                        <div class="Product_name">Tên Loại Hàng</div>
                    </div>
                    <div class="col-md-5 Product_input">
                        @Html.DropDownListFor(model => model.IdTypeProduct, ViewBag.IdTypeProduct as SelectList, new { @class = "Product-name-input" })
                        @Html.ValidationMessageFor(model => model.IdTypeProduct, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-3 Product_text">
                        <div class="Product_name">Giá</div>
                    </div>
                    <div class="col-md-5 Product_input">
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "Product-name-input", placeholder = "Nhập Giá" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-3 Product_text">
                        <div class="Product_name">Kho hàng</div>
                    </div>
                    <div class="col-md-5 Product_input">
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "Product-name-input", placeholder = "Nhập Số Lượng" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-3 Product_text">
                        <div class="Product_name">Giảm giá</div>
                    </div>
                    <div class="col-md-5 Product_input">
                        @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "Product-name-input", placeholder = "Nhập Giảm Giá (%)" } })
                        @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-3 Product_text">
                        <div class="Product_name">Trạng thái</div>
                    </div>
                    <div class="col-md-5 Product_input">
                        @Html.DropDownListFor(model => model.IdTypeSale, ViewBag.IdTypeSale as SelectList, new { @class = "Product-name-input" })
                        @Html.ValidationMessageFor(model => model.IdTypeSale, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="Product_confirm">
        <a href="@Url.Action("Index", "ManagerProduct")" class="btn_cancel btn">Hủy</a>
        <button type="submit" value="Create" class="btn_confirm btn_confirm_product">Lưu & Hiển Thị</button>
    </div>
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#file-upload').change(function () {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image-preview').attr('src', e.target.result);
                    $('#image-preview').show();
                    $('#upload-placeholder').hide(); // Ẩn dấu + và chữ
                }
                reader.readAsDataURL(this.files[0]);
            });
        });
    </script>


    @Scripts.Render("~/bundles/jqueryval")
}
