@model DotNet_E_Commerce_Glasses_Web.Models.Consumer

@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutConsumer.cshtml";
}

<link rel="stylesheet" href="~/Assets/css/consumer/InfoStyle.css" />

@using (Html.BeginForm("Index", "UserInformation", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()

    <div class="background_header"></div>
    <div class="user_info">
        <div class="grid wide">
            <div class="profile">
                <div class="col l-3">
                    <div class="user_info_nav">
                        <div class="user_info_nav_top">
                            
                                <img src="@Model.Image" alt="" class="user_info_nav_top_img" style="height: 120px;">

                            <div class="user_info_nav_text space_user_info">kaitokid1122003@gmail.com</div>
                        </div>
                        <div class="user_info_nav_bottom">
                            <div class="info_nav_bottom_items user_info_nav_bottom_active">
                                <i class="fa-regular fa-user info_nav_icon"></i>
                                <a href="./UserInformation/Index" class="user_info_nav_text">Thông tin tài khoản</a>
                            </div>
                            <div class="info_nav_bottom_items">
                                <i class="fa-solid fa-unlock-keyhole info_nav_icon"></i>
                                <a href="./UserInformation/UpdatePassword" class="user_info_nav_text">Đổi mật khẩu</a>
                            </div>
                            <div class="info_nav_bottom_items">
                                <i class="fa-solid fa-arrow-right-from-bracket info_nav_icon"></i>
                                <div href="./LoginAccount/Index" class="user_info_nav_text">Đăng xuất</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col l-9">
                    <div class="user_info_right">
                        <div class="col l-7">
                            <div class="profile-heading">
                                <div class="profile-text-heading">Hồ Sơ Của Tôi</div>
                                <div class="profile-text-heading-2">
                                    Quản lý thông tin hồ sơ để bảo mật tài khoản
                                </div>
                            </div>
                            <input name="IdConsumer" hidden value="@Model.IdConsumer" />
                            <input name="IdAccount" hidden value="@Model.IdAccount" />
                            <div class="profile_body_infomation">
                                <div class="profile-title-text">Tên Đăng Nhập<span class="xxx">*</span>:</div>
                                <input type="text" class="profile_body_input_text" value="@Model.Account.Username" readonly>
                            </div>
                            <div class="profile_body_infomation">
                                <div class="profile-title-text">Tên<span class="xxx">*</span>:</div>
                                <input type="text" class="profile_body_input_text" value="@Model.Username" name="Username" placeholder="Tên người dùng">
                            </div>
                            <div class="profile_body_infomation">
                                <div class="profile-title-text">Ngày sinh <span class="xxx">*</span>:</div>
                                <input type="date" class="profile_body_input_text" placeholder="Ngày sinh" value="@Model.GetDateOfBirthAsString()" name="DateOfBirth" id="dateOfBirthInput">
                            </div>
                            <div class="profile_body_infomation">
                                <div class="profile-title-text">Số Điện Thoại<span class="xxx">*</span>:</div>
                                <input type="text" class="profile_body_input_text" placeholder="Số Điện Thoại" name="NumberPhone" value="@Model.NumberPhone">
                            </div>
                            <div class="profile_body_infomation">
                                <div class="profile-title-text">Địa Chỉ<span class="xxx">*</span>:</div>
                                <textarea type="text" class="profile_body_textarea_text"
                                          placeholder="Nhập Địa chỉ" name="Address"> @Model.Address</textarea>
                            </div>

                            <div class="btn_change_profile">
                                <button class="btn  btn-change-profile_unchange">Hủy</button>
                                <button type="submit" class="btn  btn-change-profile_save">Lưu Thay Đổi</button>
                            </div>
                        </div>
                        <div class="col l-5">

                            <div class="profile_user_right">
                                <div class="profile-user-img">
                                    <!-- Ảnh được hiển thị ngay tại đây sau khi người dùng chọn file -->
                                    <img id="profileImg" src="@Model.Image" alt="" class="profile-img">
                                </div>

                                <input type="text" hidden name="Image" value="@Model.Image" />

                                <!-- Sử dụng 'onchange' để xử lý sự kiện khi file được chọn -->
                                <input type="file" id="uploadImg" accept=".jpg, .jpeg, .png" style="display: none;" name="ImageFile" class="form-control" onchange="previewImage();">
                                <label for="uploadImg" class="btn profile-text-choseimg">Chọn Ảnh</label>

                                @Html.ValidationMessage("Image", new { @class = "text-danger" })

                                <div class="profile-text-update">Dung lượng file tối đa 1 MB</div>
                                <div class="profile-text-update">Định dạng: .JPEG, .PNG</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts  {
    <script>
        function previewImage() {
            var file = document.getElementById("uploadImg").files;
            if (file.length > 0) {
                var fileReader = new FileReader();

                fileReader.onload = function (event) {
                    document.getElementById("profileImg").setAttribute("src", event.target.result);
                };

                fileReader.readAsDataURL(file[0]);
            }
        }
    </script>
}
